.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .section {
    background: #000;
    width: 900px;
    height: 500px;
    form {
      color: rgb(51, 50, 50);

      .form-section1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        width: 100%;
        height: 120px;
        h1 {
          margin-left: 3rem;
          font-size: 12;
          padding: 15px;
          color: rgba(60, 60, 60, 0.864);
        }
        button {
          background: rgb(135, 85, 169);
          color: white;
          width: 65px;
          height: 44px;
          border-radius: 5px;
          border: none;
          margin-right: 4rem;
        }
      }

      .form-section {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        background: #fff;
        width: 100%;
        height: auto;
        .form-group-small {
          display: flex;
          flex-direction: column;
          align-content: flex-end;
          justify-content: flex-end;
          font-weight: bold;
          height: 100%;
          width: 20%;
          margin-right: 2rem;
          margin-bottom: 1rem;
          label {
            margin-bottom: 0.5rem;
          }
          select {
            height: 2.3rem;
          }
          input {
            height: 2.3rem;
          }
          button {
            background: rgb(135, 85, 169);
            justify-self: flex-end;
            color: white;
            width: 100%;
            height: 44px;
            border-radius: 5px;
            border: none;
            margin-right: 4rem;
          }
        }
        .form-group {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            justify-content: flex-end;
            font-weight: bold;
            height: 100%;
            width: 47%;
            margin-right: 2rem;
            margin-top: 2rem;
            label {
              margin-bottom: 0.5rem;
            }
            select {
              height: 2.3rem;
            }
            input {
                height: 2.3rem;
              }
            button {
              background: rgb(135, 85, 169);
              justify-self: flex-end;
              color: white;
              width: 100%;
              height: 44px;
              border-radius: 5px;
              border: none;
              margin-right: 4rem;
            }
          }
      }
    }
  }
}
